h1
{
	font-family: Helvetica;
	text-align: center;
	color: #5A2687;
	height: 150px; 
	
	
	}

h3
{
	font-family: Helvetica;
	text-align: center;
	color: #5A2687;
}



body 
{
	background-color: #CFAAF0;
	font-family: Helvetica;
}
a img {
  vertical-align: top;
}
